*{
	margin: 5px 10px 10px 10px;
	box-sizing: border-box;
}

html{
	min-height: 100%;
	position: relative;
}

header img{
	width: 200px;
	height: 200px;
	border-radius: 10px;
	padding-top: 12px; /*Desplazar hacia abajo*/
	padding-left: 5px;
}
header h1{
	color: white; /*Color del texto*/
	float: right; /*Texto flotante*/
	padding-right: 0;
	padding-top: 0;
 }	

 body{
 	/*Incluir imagen*/
 	/*background-image: url();*/
 	/*background-repeat: no-repeat; Para que no se repita la imagen*/

 }

 header nav ul{
 	list-style: none; /*Quitar el estilo*/
 	background: none;
 	text-align: center;
 	font-family: 'Arial', sans-serif;
 	font-size: 20px;
 	padding:8px;
 	margin-top: -160px;
 	margin-left: 120px;
 }

header nav ul li{
	display:inline-block; /*Opciones de lista alineados*/
}

header nav ul li a{
	text-decoration: none; /*Para quitar el subrayado*/
	color: black;
	padding:10px 15px;
	display:block;
}

header nav ul li a:hover{
	background-color: #39ac60;
	font-size: 15px;
	font-weight: bold;

}

h2{
	color: #009B34;
	margin-left:32px;
	margin-top: -35px;
	font-size: 50px;

}

.texto{
	margin-left: 40px;
	margin-top: -15px;
	font-size: 20px;
}


.form-register{
	width: 280px;
	background:green;
	padding:30px;
	margin: auto;
	margin-top: 98px;
	border-radius: 4px;
	font-family: "calibri";
	color: white;
	top: 50%;
	left: 30%;

}
.formulario{
	width: 60px;
	padding-left: -400px;
	transform: translateX(150px)

}

.controls {
 	width: 100%;
 	background: #24303c5;
 	padding: 10px;
 	margin-left: -2px;
 	border-radius: 4px;
 	margin-bottom: 5px;
 	border: 1px solid #1f5;
 	font-family:"calibri" ;
 	font-size: 18px;
 }
.form-register a {
	color: black;
	text-decoration: none;

}
 
.form-register a:hover{
 	color: black;
 	text-decoration: underline;
 }

.form-register botons{
	 width: 100%;
	 background: #1f5;
	 border: none;
}


footer{
	position: absolute;
	left: -20px;
	bottom: -20px;
	height: 30px;
	width: 1263px;
	color: white;
	background: #009b34;
	text-align: center;
}

footer h3{
	color:white;
}

/*Inicio parte footer*/

@media(max-width:600px){
	nav ul{
		display:block;
	}
}