/*Inicio parte superior de la pagina */
body{
	width:100%;
	font-family: Arial, Helvetica, sans-serif;
}

html{
	min-height: 100%;
	position: relative;
}

header img{
	width: 200px;
	height: 200px;
	border-radius: 10px;
	padding-top: 12px; /*Desplazar hacia abajo*/
	padding-left: 5px;
}
header div nav ul{
 	list-style: none; /*Quitar el estilo*/
 	background: none;
 	text-align: center;
 	font-family: 'Arial', sans-serif;
 	font-size: 20px;
 	padding:8px;
	margin-top: 70px;
	margin-left: 0;
 }

header nav ul li{
	display:inline-block; /*Opciones de lista alineados*/
}

header div nav ul li a{
	text-decoration: none; /*Para quitar el subrayado*/
	color: black;
	padding:8px 12px;
	display:block;
	margin-left: 5px;
	margin-right: 5px;
}

header nav ul li a:hover{
	background-color: #39ac60;
	color: white;
	font-weight: bold;

}

/*Fin parte superior de la pagina */

h2{
	color: #009B34;
	margin-left:32px;
	margin-top: -35px;
	font-size: 50px;
}

#seccionTienda{
	width:100%;
}

#galeria{
  font-family: sans-serif;
  margin-left: 0px;
  background-color: white;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

#galeria > ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

#galeria > ul#diapo{
  position: relative;
  width: 100%;
  height: 700px;
}

#galeria > ul#diapo li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: linear;
}

#galeria > ul#diapo li img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#galeria > ul#diapo li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}

#galeria > ul#diapo li:target {
    opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}

#galeria > .menu{
  text-align: center;
  margin: 20px;
}

#galeria > .menu li{
  display: inline-block;
  text-align: center;
}

#galeria > .menu li a{
  display: inline-block;
  color: #009b34;
  text-decoration: none;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
}

#oferta{	
	margin-left: 35px;
	margin-right: 35px;
	font-size: 60px;
	margin-top:2%;
	border-bottom: 2px solid #009B34;
}

div.tienda{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.producto{
	margin: 15px;
	text-decoration: none;
	color: #000000;
}

.producto img{
	width: 300px;
	padding: 2px 16px;
}

.producto h3{	
	font-size: large;
	text-align: center;
}

.producto:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/*Inicio parte footer*/

footer{
	position: absolute;
	left: 0px;
	top: 100%;
	right: 30px;
	width: 100%;
	background:  #f7f7f7;
	text-align: center;
}

#titles, #seccionesFt{
	margin:0;
}
/* Inicio Menu rapido */

#menu-r{
	width: 150px;
	text-align: left;
	color:#009b34;
	font-size: x-large;
	margin-top: 60px;
	margin-left: 40px;

}

footer nav#menurap{
	text-align: left;
	width:400px;
	margin-left: 0px;
	margin-top: 20px;
}

footer nav#menurap ul li{
	list-style: none;
	padding: 8px 8px;
	margin-left: 20px;
	font-size: 18px;
	width: 300px;
}

footer nav#menurap ul li:hover{
	background-color: #f2f2f2;
	font-weight: bold;
}

footer nav#menurap ul li a{
	text-decoration: none; 
	color: #000000;
	display:block;
}

/* fin Menu rapido */

/* Inicio mapa */

#ubica{
	text-align: center;
	width:300px;
	color:#009b34;
	font-size: x-large;
	margin-right:70px;
	margin-top: 60px;
}

footer>div#mapa{
	text-align: center;
}

/* Fin mapa */

/* Inicio redes sociales */


#social{
	text-align: center;
	width:300px;
	color:#009b34;
	font-size: x-large;
	margin-left:10px;
	margin-top: 60px;
}

footer>#redes{
	text-align: right;
	width: 250px;
	margin-left: 10px;
	color: #009b34;
	margin-top: -220px;
}

footer>#redes ul{
	list-style: none; /*Quitar el estilo*/
 	background: none;
 	text-align: center;
 	font-family: 'Arial', sans-serif;
 	font-size: 40px;
}

footer #redes ul li{
	display: inline-block;
	width: 80px;
	height: 70px;
	padding: 5px;
}

footer #redes ul li:hover{
	background-color: #f2f2f2;
	font-weight: bold;
}

footer #redes ul li a{
	text-decoration: none; 
	display:block;
	margin:0;
	padding:0;
}

footer #redes ul li a#face{
	color: #3b5998
}

footer #redes ul li a#what{
	color: #25D366
}


/* Fin redes sociales */

footer .copyright>h3{
	color:#009b34;
	font-size: large;
	text-align: center;
}

/* Fin Footer */