body{
	margin: 5px 10px 10px 10px;
}

html{
	min-height: 100%;
	position: relative;
}

header img{
	width: 200px;
	height: 200px;
	border-radius: 10px;
	padding-top: 12px; /*Desplazar hacia abajo*/
	padding-left: 5px;
}

header h1{
	color: white; /*Color del texto*/
	float: right; /*Texto flotante*/
	padding-right: 0;
	padding-top: 0;
 }	


header nav ul{
 	list-style: none; /*Quitar el estilo*/
 	background: none;
 	text-align: center;
 	font-family: 'Arial', sans-serif;
 	font-size: 20px;
 	padding:8px;
 	margin-top: -160px;
 	margin-left: 120px;
 }

header nav ul li{
	display:inline-block; /*Opciones de lista alineados*/
}

header nav ul li a{
	text-decoration: none; /*Para quitar el subrayado*/
	color: black;
	padding:10px 15px;
	display:block;
}

header nav ul li a:hover{
	background-color: #39ac60;
	font-size: 15px;
	font-weight: bold;

}

header nav ul input{
	margin-left: 55px;
}

h2{
	color: #009B34;
	margin-left:32px;
	margin-top: -35px;
	font-size: 50px;

}

#galeria{
  font-family: sans-serif;
  margin-left: 0px;
  background-color: white;
  max-width: 1263px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

#galeria > ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

#galeria > ul.diapo{
  position: relative;
  max-width: 1263px;
  width: 100%;
  height: 500px;
}

#galeria > ul.diapo li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: ease-in;
}

#galeria > ul.diapo li img{
  width: 100%;
  height: 500px;
  object-fit: cover;
}

#galeria > ul.diapo li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}

#galeria > ul.diapo li:target {
    opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}

#galeria > .menu{
  text-align: center;
  margin: 20px;
}

#galeria > .menu li{
  display: inline-block;
  text-align: center;
}

#galeria > .menu li a{
  display: inline-block;
  color: #009b34;
  text-decoration: none;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
}

.contenedor{
	margin-left: 30px;
}

.tienda{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.producto{
	margin: 15px;
}

.producto a{
	text-decoration:none;
	color:black;
}

.producto img{
	width: 250px;
	padding: 2px 16px;
}

.producto:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.lentes, .mujer, .hombre, .unisex{
	display: inherit;
}

#mujer:checked ~ #imagenes .hombre, #mujer:checked ~ #imagenes .unisex, #mujer:checked ~ #imagenes .lentes{
	display:none;
}

#hombre:checked ~ #imagenes .mujer, #hombre:checked ~ #imagenes .unisex, #hombre:checked ~ #imagenes .lentes{
	display:none;
}

#unisex:checked ~ #imagenes .mujer, #unisex:checked ~ #imagenes .hombre, #unisex:checked ~ #imagenes .lentes{
	display:none;
}

#lentes:checked ~ #imagenes .mujer, #lentes:checked ~ #imagenes .hombre, #lentes:checked ~ #imagenes .unisex{
	display:none;
}

.paginacion {
  display: inline-block;
  margin-left: 525px;
}

.paginacion a {
	list-style: none; 
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.paginacion a.active {
  background-color: #4CAF50;
  color: white;
}

/*Inicio parte footer*/

footer{
	position: absolute;
	left: -20px;
	top: 100%;
	right: 30px;
	width: 1263px;
	background:  #f7f7f7;
	text-align: center;
}

/* Inicio Menu rapido */

#menu-r{
	width: 200px;
	text-align: left;
	color:#009b34;
	font-size: x-large;
	margin-top: 60px;
	margin-left: 60px;

}

footer nav#menurap{
	text-align: left;
	width:400px;
	margin-left: 0px;
	margin-top: 20px;
}

footer nav#menurap ul li{
	list-style: none;
	padding: 8px 8px;
	margin-right: 0px;
	font-size: 18px;
}

footer nav#menurap ul li:hover{
	background-color: #f2f2f2;
	font-weight: bold;
}

footer nav#menurap ul li a{
	text-decoration: none; 
	color: #000000;
	display:block;
}

/* fin Menu rapido */

/* Inicio mapa */

#ubica{
	text-align: center;
	width:300px;
	color:#009b34;
	font-size: x-large;
	margin-left:490px;
}

footer>div.mapa{
	margin-left:465px;
	margin-top: -135px;
	width:350px;
	height:330px;
}

/* Fin mapa */

/* Inicio redes sociales */


#social{
	text-align: center;
	width:300px;
	color:#009b34;
	font-size: x-large;
	margin-left:880px;
}

footer>nav.redes{
	text-align: right;
	width: 350px;
	margin-left: 850px;
	color: #009b34;
	margin-top: -220px;
}

footer>nav.redes ul{
	list-style: none; /*Quitar el estilo*/
 	background: none;
 	text-align: center;
 	font-family: 'Arial', sans-serif;
 	font-size: 40px;
	padding: 8px;
}

footer nav.redes ul li{
	display: inline-block;
	width: 50px;
	height: 50px;
	padding: 5px;
}

footer nav.redes ul li:hover{
	background-color: #f2f2f2;
	font-weight: bold;
}

footer nav.redes ul li a{
	text-decoration: none; 
	display:block;
	margin:0;
	padding:0;
}

footer nav.redes ul li a#face{
	color: #3b5998
}

footer nav.redes ul li a#what{
	color: #25D366
}


/* Fin redes sociales */

footer h3{
	color:#009b34;
	text-align: center;
}

/* Fin Footer */

@media(max-width:600px){
	nav ul{
		display:block;
	}
}