body{
	margin: 0;
	padding: 0;
	background: url(../Imagenes/woman-1851464.jpg) no-repeat center top;
	background-size: cover;
	font-family: 'Arial', sans-serif;
}

.login-box{
	width: 650px;
	height: 400px;
	background: #009b34;
	color: white;
	position: absolute;
	top: 20%;
	left: 25%;
	box-sizing: border-box;
	opacity: 100%;
	border-radius: 10px;
	
}

.formulario_grupo{
	margin-left: 10px;
	margin-top: -10px;
	padding-left: 40px;
	padding-top: 30px;
	display: inline-block;
}

.login-box h1{
	text-align: center;
	color:white;
	
}

.login-box input{
  background-color: white; /* Green */
  border: none;
  border-radius: 8px;
  color: black;
  padding: 15px 28px;
  text-align: center;
  text-decoration: none;
  display:block;
  font-size: 16px;
}

#boton-crear{
	text-decoration: none;
}

#submit{
	margin-top: 30px;
	margin-left: 260px;
}


.check{
	word-break: break-all;
	margin-left: 40px;
	margin-right: 55px;
	margin-top:10px;
	text-align: center;
  	text-decoration: none;
  	display:block;
}